#don't track  the following  files

.DS_Store
.DS_Store?
NoSql_MongoDB-checkpoint.ipynb
Module_2/Webscraping/.ipynb_checkpoints
Module_3/MonteCarlo/.ipynb_checkpoints
Module_4/biasvariance/.ipynb_checkpoints
Module_4/feature_engineering/.ipynb_checkpoints
*.ipynb
kc_feat_engineering_project_revamp.iml
modules.xml
modeler.cpython-37.pyc
workspace.xml
vcs.xml
